<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset('ecole.ico') }}" />
        <title>{% block title %}Trouve ton école{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=Fuggles&display=swap" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }} position-absolute text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </body>
</html>
